
 body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.product {
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 20px;
  margin-top: 25px;
  padding: 20px;
  background-color: #96f2af;
}

.product img {
  width: 100px; 
  margin-right: 20px;
}

.text-container {
  flex: 1;
}